@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');

.head{ 
    height: 222px;
    background: #412856;
    
}
.imagem-dev{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.linha-vertical {
    height: 100px;/*Altura da linha*/
    margin-left: 8px;
    border-left: 3px solid #FFFFFF;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  }

.titulo {

    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.cont2 {
    background: linear-gradient(180deg, #7E649F 0% , #130D36 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.txt {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    line-height: 26px;
    line-height: 100%;
    font-weight: lighter;
    color: #FFFFFF;
}

.btn{
    background-color: #AD72DF;
    width: 368px;
    height: 62px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
}

.card{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-items: center;
}

.card-img-top{
    width: 35%;
}

.card-text {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    line-height: 20px;
    color: #FFFFFF;
    
}

.t1{   
    font-size: 22px;
    line-height: 26px;
    font-weight: lighter;
    letter-spacing: 0.02em;
    margin-top: -30px;
}

.t2 {
    font-size: 32px;
    font-weight: bold;
}

.t3 {

    font-size: 22px;
}

.t4 {

    font-weight: lighter;
    font-size: 20px;
}

.texto-meio {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 12%;
}

.texto-titulo{
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 10%;
}

.titulo-final{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
}



.texto-final{
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    line-height: 26px;
    font-weight: lighter;
    color: #FFFFFF;
}

.rodape{
    width: 1440px;
    height: 215px;
    background: #000000;
}

.texto-rodape{
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

/* BREAK POINTS */

@media screen and (max-width: 425px) {
    .head {height: auto; padding: 20px;}    
    .titulo {font-size: 26px;}
    .txt {font-size: 14px; margin-top: -20px;}
    .btn {
        width: 150px;
        font-size: 16px;
        padding: 12px;
        margin-bottom: -25px;
    }
    .card-img-top {width: 25%; margin-top: 10px;}
    .t2 {font-size: 18px; margin-top: -2%;}
    .t1 {font-size: 16px;}    
    .t3, .t4 { font-size: 14px; margin-top: -2%;}
    .texto-meio {font-size: 28px; margin-top: 5%; margin-bottom: -10%;}
    .texto-titulo {font-size: 28px;}
    .titulo-final{
        font-size: 20px;
        line-height: 100%;
        margin-right: 10px;
    }
    .linha-vertical{height: 0;}
    .texto-final {
        font-size: 16px;
        text-align: justify;
        padding: 25px;
        line-height: 120%;
    }
    .rodape {height: auto;}
    .texto-rodape {font-size: 16px; margin-top: 5%;}
}

@media screen and (min-width: 426px) and (max-width: 767px) {

    .head {height: auto; padding: 30px;}    
    .titulo {font-size: 32px;}
    .txt {font-size: 18px; margin-top: -10px; line-height: 20px;}
    .btn {
        width: 250px;
        font-size: 16px;
        padding: 12px;
        margin-bottom: -25px;
    }
    .card-img-top {width: 25%; margin-top: 10px;}
    .t2 {font-size: 22px; margin-top: -2%;}
    .t1 {font-size: 18px;}   
    .t3, .t4 { font-size: 16px; margin-top: -1%;}
    .texto-meio {font-size: 32px; margin-top: 5%; margin-bottom: -5%;}
    .texto-titulo {font-size: 32px;}
    .titulo-final{
        font-size: 24px;
        line-height: 100%;
        margin-right: 10px;
    }
    .texto-final {
        font-size: 16px;
        text-align: justify;
        line-height: 120%;
    }
    .rodape {height: auto;}
    .texto-rodape {font-size: 16px; margin-top: 5%;}
}

@media screen and (min-width: 768px) {
    .head {height: auto; padding: 25px;}
    .titulo {font-size: 34px;}
    .imagem-dev {
        width: 100%;
    }
    .txt {font-size: 18px; margin-top: -20px;}
    .btn {
        width: 200px;
        font-size: 20px;
        padding: 12px;
        margin-bottom: -10px;
    }
    .card-img-top{
        width: 45%;
        margin-top: 10px;
    }
    .t2 {font-size: 20px;}
    .t1 {font-size: 16px;}
    .t3, .t4 { font-size: 14px; margin-top: -4%;}
    .texto-meio{
        font-size: 34px; margin-top: 5%; margin-bottom: -5%;
    }
    .texto-titulo {font-size: 34px;}
    .titulo-final{
        font-size: 24px;
        line-height: 100%;
    }
    .texto-final {
        font-size: 16px;
        text-align: justify;
        line-height: 120%;
    }
    .rodape {height: auto; padding: 25px;}
    .texto-rodape { 
        font-size: 22px;
    }
}

@media screen and (min-width: 426px) and (max-width: 575px){
    .linha-vertical {height: 0;}
}

@media screen and (min-width: 426px) and (max-width: 767px) {

    .head {height: auto; padding: 30px;}    
    .titulo {font-size: 32px;}
    .txt {font-size: 18px; margin-top: -10px; line-height: 20px;}
    .btn {
        width: 250px;
        font-size: 16px;
        padding: 12px;
        margin-bottom: -25px;
    }
    .card-img-top {width: 25%; margin-top: 10px;}
    .t2 {font-size: 22px; margin-top: -2%;}
    .t1 {font-size: 18px;}   
    .t3, .t4 { font-size: 16px; margin-top: -1%;}
    .texto-meio {font-size: 32px; margin-top: 5%; margin-bottom: -5%;}
    .texto-titulo {font-size: 32px;}
    .titulo-final{
        font-size: 24px;
        line-height: 100%;
        margin-right: 10px;
    }
    .texto-final {
        font-size: 16px;
        text-align: justify;
        line-height: 120%;
    }
    .rodape {height: auto;}
    .texto-rodape {font-size: 16px; margin-top: 5%;}
}

@media screen and (min-width: 769px){
    .head {height: 200px;}    
    .titulo {font-size: 55px; }
    .txt {font-size: 20px; margin-top: 15px;}
    .btn {
        width: 270px;
        font-size: 24px;
        letter-spacing: -1px;
        padding: 10px;
    }
    .card-img-top {width: 115px; margin-top: 35px;}
    .t1 {font-size: 16px; margin-bottom: 25px;}   
    .t2 {font-size: 26px;}
    .t3, .t4 { font-size: 20px; line-height: 22px;}

    .texto-meio {font-size: 54px; line-height: 120px;}
    .texto-titulo {font-size: 54px; margin-top: 14px;}

    .titulo-final{
        font-size: 34px;
        font-weight: bolder;
        line-height: 50px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .linha-vertical {
        height: 170px;/*Altura da linha*/
        border-left: 3px solid #FFFFFF;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    }

    .texto-final {
        font-size: 22px;
        text-align: left;
        line-height: 26px;
        margin-top: 22px;
    }
    .rodape {height: 170px;}
    .texto-rodape {font-size: 22px; align-content: center;}
}
}


@media screen and (min-width: 1440px) {
    .head {height: 222px;}    
    .titulo {font-size: 80px; }
    .txt {font-size: 26px; margin-top: 15px;}
    .btn {
        width: 368px;
        font-size: 30px;
        letter-spacing: -1px;
        padding: 12px;
        margin-bottom: 25px;
    }
    .card-img-top {width: 152px; margin-top: 35px;}
    .t1 {font-size: 22px;margin-bottom: 25px;}   
    .t2 {font-size: 32px;}
    .t3, .t4 { font-size: 22px; margin-top: 5px; line-height: 25px;}

    .texto-meio {font-size: 60px; line-height: 140px;}
    .texto-titulo {font-size: 60px; margin-top: 16px;}
    .titulo-final{
        font-size: 42px;
        font-weight: bolder;
        line-height: 50px;
        margin-right: 10px;
    }
    .linha-vertical {
        height: 180px;/*Altura da linha*/
        border-left: 3px solid #FFFFFF;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    }

    .texto-final {
        font-size: 26px;
        text-align: left;
        line-height: 26px;
        margin-top: 15px;
    }
    .rodape {height: 215px;}
    .texto-rodape {font-size: 26px; align-content: center;}
}