@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');

/* estilo geral */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
    color: #FFFFFF;
}

/* estilo header */

.head {
    background: #412856;
    height: auto; 
    padding: 20px;
}

.titulo {
    font-size: 8vw;
    font-weight: 555;
}

.imagem-dev{
    width: 100%;
}

/* estilo conteudo central */

.cont2 {
    background: linear-gradient(180deg, #7E649F 0% , #130D36 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 4%;
}

.txt {
    font-size: 3vw; 
    line-height: 110%;
    font-weight: 500;
}  

.btn {
    width: 50vw;
    font-size: 4vw;
    border-radius: 6px;
    background-color: #AD72DF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
    .btn:hover{
        background-color: rgba(131, 73, 193, 0.488);
        color: rgba(53, 19, 89, 0.865);

    }

.card{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-items: center;
    width: 70vw;
}
    .card:hover{
        background-color: rgba(0, 0, 0, 0.111);
        border-radius: 30px;   
        width: 80vw;
        font-size: 5vw;
    }

.card-img-top {
    width: 30vw; 
    margin-top: 8%;
}   

.t1 {font-size: 4vw; margin-top: -5%;}   
.t2 {font-size: 5vw; font-weight: bold;}
.t3, .t4 {font-size: 3vw; margin-top: -3%;}
 
/* estilo textos finais */

.texto-meio {font-size: 6vw; margin-top: 5%; margin-top: 10%; }

.texto-titulo {font-size: 6vw; font-weight: bold; margin-top: -4%;}

.titulo-final{
    font-size: 6vw;
    line-height: 150%;
    padding-left: 5%;
    margin-top: 2%;
}

.linha-vertical{
    height: 110px;
    margin-left: 8px;
    border-left: 3px solid #FFFFFF;
}
    @media(max-width: 1023px){
        .linha-vertical{
            height: 0;
        }
    }

.texto-final {
    font-size: 4vw;
    text-align: justify;
    line-height:130%;
    padding: 7%;
}

.rodape {height: auto; background-color: black;}

.texto-rodape {font-size: 4vw; margin-top: 5vw;}

/* media queries & breakpoints */

@media(min-width: 576px){
    .titulo-final{font-size: 26px; text-align: left; margin-top: 6%}
    .texto-final{font-size: 13px; margin-left: 5%; text-align: left; padding: 0; margin-top: 5%;}
}
@media(min-width: 768px){
    .txt {
        font-size: 20px;
        line-height: 22px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .btn {width: 250px; font-size: 20px; margin-bottom: 50px;}
    .card:hover {line-height: 30px;}
    .card-img-top {width: 130px;}
    .t1 {font-size: 3vw;}
    .t2 {font-size: 3vw;}
    .t3, .t4 {font-size: 2vw;}
    .texto-titulo{margin-bottom: 10%;}
    .titulo-final{font-size: 30px; text-align: left; margin-top: 6%}
    .texto-final{
        font-size: 16px;
        line-height: 18px;
        font-weight: lighter;
        margin-bottom: 7%;
        margin-top: 7%;
        margin-left: 0;
    }
    .rodape{height: 100px;}
    .texto-rodape{font-size: 2.5vw; margin-top: 4vw;}
}

@media(min-width: 1024px){
    .head {height: 180px;}
    .titulo {font-size: 60px;}
    .txt {
        font-size: 24px;
        line-height: 24px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .btn {width: 320px; font-size: 25px; }
    .card:hover {line-height: 35px;}
    .t1 {font-size: 20px;}
    .t2 {font-size: 26px;}
    .t3, .t4 {font-size: 18px;}
    .texto-titulo, .texto-meio{font-size: 60px;}
    .titulo-final{
        font-size: 34px;
        font-weight: bolder;
        text-align: right;
        margin-bottom: 5%;
        margin-top: -3%;
        margin-right: -3%;
        padding: 5%;
    }
    .linha-vertical{height: 17vw;}
    .texto-final{
        font-size: 20px;
        line-height: 22px;
        font-weight: lighter;
        margin-bottom: 5%;
        margin-top: 2%;
        margin-left: 4%;
    }
    .rodape{height: 150px;}
    .texto-rodape{font-size: 26px; margin-top: 5vw;}
}

@media(min-width: 1140px){
    .head {height: 222px;}
    .titulo {font-size: 80px;}
    .txt {
        font-size: 26px;
        line-height: 26px;
        margin-top: 60px;
        margin-bottom: 50px;    
    }
    .btn {width: 368px; font-size: 30px; }
    .card-img-top {width: 152px;}
    .t1 {font-size: 22px;}
    .t2 {font-size: 32px;}
    .t3, .t4 {font-size: 22px;}
    .titulo-final{
        font-size: 42px;
        font-weight: bolder;
        text-align: right;
        margin-bottom: 5%;
        margin-top: -4%;
        padding: 5%;            
    }
    .linha-vertical{height: 196px;}
    .texto-final{
        font-size: 26px;
        line-height: 26px;
        font-weight: lighter;
        margin-bottom: 5%;
        margin-top: 2%;
        margin-left: 4%;
    }
    .rodape{height: 215px;}
    .texto-rodape{margin-top: 7vw;}
}
